.leagueTitle {
  margin-bottom: 15px;
}

.live-game-card-content > h1 {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  color: var(--text);
}

.pagination {
  margin: 2rem;
  justify-content: center;
}

.score {
  display: flex;
  flex-direction: row;
}

.moreGames {
  background-color: var(--card-color);
  color: var(--text);
}

button {
  gap: 3%;
  transition: all 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.05);
}

i {
  font-size: 17px;
}

:host::ng-deep {
  .p-paginator {
    background-color: var(--card-color);
    color: var(--text);
  }

  .p-paginator .p-paginator-pages .p-paginator-page.p-highlight,
  .p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover,
  .p-paginator .p-paginator-first:not(.p-disabled):not(.p-highlight):hover,
  .p-paginator .p-paginator-prev:not(.p-disabled):not(.p-highlight):hover,
  .p-paginator .p-paginator-next:not(.p-disabled):not(.p-highlight):hover,
  .p-paginator .p-paginator-last:not(.p-disabled):not(.p-highlight):hover,
  .p-dropdown, .p-inputtext {
    background-color: var(--background);
    border: none;
    color: var(--white);
  }
}
