.leagueTitle {
  margin-bottom: 15px;
}

.live-game-card-content > h1 {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  color: var(--text);
}

.paginação {
  display: flex;
  margin: 2rem;
  justify-content: center;
}

.score {
  display: flex;
  flex-direction: row;
}

.moreGames {
  background-color: var(--card-color);
  color: var(--text);
}

button {
  gap: 3%;
  transition: all 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.05);
}

i {
  font-size: 17px;
}

jw-pagination {
  width: 50%;
}

:host::ng-deep {
  .pagination {
    background-color: var(--card-color);
    padding: 5% 0;
    border-radius: 10px;
    gap: 2%;
    justify-content: center;
  }

  .page-link {
    border-radius: 50%;
    border: none;
    display: flex;
    text-align: center;
    width: 40px;
    height: 40px;
    color: var(--text);
    background: var(--background);
    align-items: center;
    justify-content: center;
  }

  .active {
    .page-link{

      background: var(--card-color);
      border: 2px solid var(--background);
      color: var(--text);
    }
  }
}
