<p-toast></p-toast>
<div class="games-list-container">
  <div class="games-list-items">
    <a
      *ngFor="
        let item of pageOfItems
      "
      (click)="click(item)"
    >
      <div class="live-game-card">
        <h6 class="gameSchedule">
          {{ item.startTime | date : "dd/MM/YYYY - HH:mm" }}
        </h6>
        <h5 class="leagueTitle">{{ item.league.name }} - {{item.blockName}}</h5>
        <div class="live-game-card-content">
          <div class="live-game-card-team">
            <img
              class="live-game-card-team-image"
              [src]="item.match.teams[0].image"
              alt="Bay State College"
            /><span class="live-game-card-title">{{
              item.match.teams[0].name | titlecase
            }}</span>
          </div>
          <h3 class="vs" *ngIf="item.state !== 'unstarted'">{{ item.match.teams[0].result.gameWins }}</h3>
          <h3 class="vs">VS</h3>
          <h3 class="vs" *ngIf="item.state !== 'unstarted'">{{ item.match.teams[1].result.gameWins }}</h3>
          <div class="live-game-card-team">
            <img
              class="live-game-card-team-image"
              [src]="item.match.teams[1].image"
              alt="Bay State College"
            /><span class="live-game-card-title">{{
              item.match.teams[1].name
            }}</span>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
<div class="pagination">
  <p-paginator [rows]="pager.totalPages" [totalRecords]="cardContent.length" [rowsPerPageOptions]="[10,20,30]" (onPageChange)="setPage($event)"></p-paginator>
</div>
