.container {
  background-color: var(--card-color);
  max-width: 80%;
}

.align-items-center {
  gap: 10px;
}

.justify-content-start,
.justify-content-end {
  gap: 10%;
}

.redInfo {
  flex-direction: row-reverse;
}

.p-5 {
  padding: 1.5rem 2rem !important;
  margin-bottom: 3rem;
  border-radius: 10px;
}
.blueIcon {
  background-color: #2aa9e0;
  width: 24px;
  height: 24px;
}

.redIcon {
  background-color: #e83f5b;
  width: 24px;
  height: 24px;
}

.gamestate{
  color: var(--white);
  background-color: transparent;
  transition: all .2s ease;
}

.gamestate-bg,
.gamestate-bg-paused {
  position: absolute;
  height: 1.35rem;
  border-radius: 9999px;
}
.gamestate-bg {
  width: 5.5rem;
  background-color: var(--red-secundary);
  animation: pulse 8s infinite;
}



.aovivo{
  color: var(--white);
  z-index: 1000;
}

.dragons{
  padding-top: 1rem;
}

.redTeam {
  display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.finished{
  color: var(--text);
  font-size: 1.5rem;
}
