<div class="gameStatus d-flex justify-content-between container p-5">
  <div class="blueTeam">
    <ul class="d-flex justify-content-start w-30 blueInfo">
      <li class="d-flex flex-column align-items-center">
        <div class="blueIcon inibIcon"></div>
        <p>{{ gameInfo.blueTeam.inhibitors }}</p>
      </li>

      <li class="d-flex flex-column align-items-center">
        <div class="blueIcon baronIcon"></div>
        <p>{{ gameInfo.blueTeam.barons }}</p>
      </li>

      <li class="d-flex flex-column align-items-center">
        <div class="blueIcon towerIcon"></div>
        <p>{{ gameInfo.blueTeam.towers }}</p>
      </li>

      <li class="d-flex flex-column align-items-center">
        <div class="blueIcon goldIcon"></div>
        <p>{{ gameInfo.blueTeam.totalGold }}</p>
      </li>

      <li class="d-flex flex-column align-items-center">
        <div class="blueIcon killsIcon"></div>
        <p>{{ gameInfo.blueTeam.totalKills }}</p>
      </li>
    </ul>

    <div class="dragons">
      <img
        *ngFor="let dragon of gameInfo.blueTeam.dragons"
        [src]="verifyDragon(dragon)"
        alt="{{ dragon }}"
      />
    </div>
  </div>

  <div class="gamestate" *ngIf="gameInfo.gameState === 'in_game'" ><span class="aovivo">AO VIVO</span><div class="gamestate-bg"></div></div>
  <div *ngIf="gameInfo.gameState === 'finished'" ><span>Finalizado</span></div>


  <div class="redTeam">
    <ul class="d-flex justify-content-start w-30 redInfo">
      <li class="d-flex flex-column align-items-center">
        <div class="redIcon inibIcon"></div>
        <p>{{ gameInfo.redTeam.inhibitors }}</p>
      </li>

      <li class="d-flex flex-column align-items-center">
        <div class="redIcon baronIcon"></div>
        <p>{{ gameInfo.redTeam.barons }}</p>
      </li>

      <li class="d-flex flex-column align-items-center">
        <div class="redIcon towerIcon"></div>
        <p>{{ gameInfo.redTeam.towers }}</p>
      </li>

      <li class="d-flex flex-column align-items-center">
        <div class="redIcon goldIcon"></div>
        <p>{{ gameInfo.redTeam.totalGold }}</p>
      </li>

      <li class="d-flex flex-column align-items-center">
        <div class="redIcon killsIcon"></div>
        <p>{{ gameInfo.redTeam.totalKills }}</p>
      </li>
    </ul>

    <div class="dragons">
      <img
        *ngFor="let dragon of gameInfo.redTeam.dragons"
        [src]="verifyDragon(dragon)"
        alt="{{ dragon }}"
      />
    </div>
  </div>
</div>
