<div class="main">
  <live game="League of Legends"></live>
</div>

<h3>League of Legends</h3>
<div class="nextGames" *ngIf="nextScheduleMatches.length > 0">
  <div class="headerTitle">
    <h2>Proximos Jogos</h2>
    <mat-form-field appearance="fill">
      <mat-select placeholder="Filtrar por liga">
        <mat-option
          *ngFor="
            let tournamentsFilter of setFilterLeagues(nextScheduleMatches);
            let i = index
          "
        >
          <p>{{ tournamentsFilter.name }}</p>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
    <hr />
    <app-schedule-games
      game="League of Legends"
      [dataSource]="nextScheduleMatches"
      [loading]="loading"
    ></app-schedule-games>
</div>

<div class="nextGames">
  <div class="headerTitle">
    <h2>Jogos Anteriores</h2>
    <mat-form-field appearance="fill">
      <mat-select placeholder="Filtrar por liga">
        <mat-option
        *ngFor="
        let tournamentsFilter of setFilterLeagues(pastScheduleMatches);
        let i = index
        "
        >
        <p>{{ tournamentsFilter.name }}</p>
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
  <hr />
  <app-schedule-games
    game="League of Legends"
    [isHistory]="true"
    [dataSource]="pastScheduleMatches"
    [loading]="loading"
  ></app-schedule-games>
</div>

<h3>Valorant</h3>
<div class="nextGames" *ngIf="nextValScheduleMatches.length > 0">
  <div class="headerTitle">
    <h2>Proximos Jogos</h2>
  </div>
    <hr />
    <app-schedule-games
    game="Valorant"
    [dataSource]="nextValScheduleMatches"
    [loading]="loading"
  ></app-schedule-games>
</div>

<div class="nextGames">
  <h2>Jogos Anteriores</h2>
  <hr />
  <app-schedule-games
    game="Valorant"
    [isHistory]="true"
    [dataSource]="pastValScheduleMatches"
    [loading]="loading"
  ></app-schedule-games>
</div>
