.live {
  background-color: var(--background);
}

.loading {
  text-align: center;
}

h2 {
  margin-bottom: 1rem;
  font-size: 28px;
  font-style: italic;
  font-weight: 800;
}

hr {
  margin-top: 2rem;
}
