<div class="main px-3 py-3 live">
  <div class="loading" *ngIf="loading">
    <div class="spinner-border" role="status">
      <span class="sr-only"></span>
    </div>
  </div>
  <div class="content" *ngIf="dataSource!.length > 0">
    <card-match
      [game]="game"
      [isHistory]="isHistory"
      [cardContent]="dataSource"
      (proximaPagina)="eventProximaPagina($event)"
    ></card-match>
    <button *ngIf="!isHistory" (click)="eventProximaPagina($event)"  class="btn moreGames"><p>
      Carregar mais Jogos
    </p>
      <i class="fa-sharp fa-solid fa-arrow-right"></i>
    </button>
  </div>
</div>
