@font-face {
  font-family: Tungsten-Bold;
  src: url(../../../assets/fonts/Tungsten-Bold.ttf);
}
@font-face {
  font-family: DINNextW05-Bold;
  src: url(../../../assets/fonts/DINNextW05-Bold.ttf);
}
