.inibIcon {
  -webkit-mask: url(../../../assets/inhibitor.svg) no-repeat center;
}
.baronIcon {
  -webkit-mask: url(../../../assets/baron.svg) no-repeat center;
}
.towerIcon {
  -webkit-mask: url(../../../assets/tower.svg) no-repeat center;
}
.goldIcon {
  -webkit-mask: url(../../../assets/gold.svg) no-repeat center;
}
.killsIcon {
  -webkit-mask: url(../../../assets/kill.svg) no-repeat center;
}
.goldPlayer {
  -webkit-mask: url(../../../assets/gold.svg) no-repeat center;
}
