::ng-deep {
  .mdc-list-item__primary-text {
    display: flex;
    gap: 10px;
    align-items: center;
  }
}

::ng-deep {
  .mdc-text-field--filled {
    margin: 15px 0 0 -15px !important;
    background-color: var(--background) !important;
    color: white !important;
  }
}

::ng-deep {
  .mat-mdc-select-value, .mat-mdc-select-arrow  {
    color: var(--text) !important;
  }
}

::ng-deep {
  .mdc-menu-surface--open  {
    background: var(--background) !important;
  }
}
