:root {
  --theme-switch-notch: #9e25fc;
  --theme-switch-bg: #6d18b0;
  --logo-color: #aaaaaa;
  --card-color: #12181b;
  --background: #2a2e35;
  --gray-line: #2a2e35;
  --text: #b2becd;
  --text-highlight: #b3b9ff;
  --title: #fff;
  --red: #e83f5b;
  --green: #479335;
  --green-positive: #61b875;
  --red-secundary: #ff0000;
  --blue: #5965e0;
  --blue-dark: #4953b8;
  --blue-twitter: #2aa9e0;
  background: var(--background);
}
