<!-- <div class="main">
  <app-game-selector
    [totalGames]="totalGames"
    [gameId]="gameId"
    [matchID]="matchID"
    (changeGameEvent)="gameChange($event)"
  ></app-game-selector>
  <app-game-header [matchDetails]="matchDetails"></app-game-header>
  <iframe
    *ngIf="twitchProvider.length >= 1"
    [src]="urlVideo | safe"
    height="720"
    width="1280"
  >
  </iframe>
</div> -->

  <h2>KILLJOY ainda não<br> desenvolveu essa <br> tecnologia</h2>
  <h4>Volte em breve para conferir suas criações</h4>


<div class="comingSoon">
  <img src="../../../../../assets/killjoy_coming_soon_resized.jpg" alt="killjoy trabalhando">
</div>
