<div class="main">
  <div class="match-odds-container">
    <div class="team-odds team-oods-left">
      <div class="teamInfo">
        <img
          [src]="matchDetails?.teams[0].image"
          [alt]="matchDetails?.teams[0].name"
        />
        <h4>{{ matchDetails?.teams[0].name }}</h4>
      </div>
      <div class="teamScore">
        <p class="score">{{ matchDetails?.teams[0].result.gameWins }}</p>
      </div>
    </div>
    <h1 class="vs">VS</h1>
    <div class="team-odds team-oods-right">
      <div class="teamScore">
        <p class="score">{{ matchDetails?.teams[1].result.gameWins }}</p>
      </div>
      <div class="teamInfo">
        <h4>{{ matchDetails?.teams[1].name }}</h4>
        <img
          [src]="matchDetails?.teams[1].image"
          [alt]="matchDetails?.teams[1].image"
        />
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center"></div>
  <iframe
    *ngIf="twitchProvider.length >= 1"
    [src]="urlVideo | safe"
    height="720"
    width="1280"
  >
  </iframe>
</div>
