.container {
  display: flex;
  background-color: var(--card-color);
  border-radius: 5px;
  padding: 1rem;
  margin: 0px 15px 1.5rem 15px;
}

img {
  max-width: 6.75rem;
}

.status {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.statusRed {
  margin-right: 2rem;
}

.container {
  .d-flex {
    align-items: center;
    justify-content: space-between;
  }
}

.icons {
  width: 20px;
  height: 20px;
  margin: 5px;
}

.minions {
  color: #000;
  width: 15px !important;
}

.vantage {
  color: green;
}

.desvantage {
  color: red;
}

.playerName {
  padding: 0 0 5px;
}

.gameLogo {
  background-color: #5e676d;
  width: 20px;
  height: 20px;
}
